all {
    stroke-width: 1px;
}

path {
    stroke: black;
}

.black-key {
    stroke: none;
    fill: black;
}

.white-key {
    stroke: none;
    fill: white;
}

.black-key.active {
    fill: yellow;
}

.white-key.active {
    fill: red;
}
